/* Sidebar.css */

.container {
  display: flex;
  width: 220px; /* Increased width to avoid cutting off content */
  border-radius: 5px;
}

.sidebar {
  height: 100vh; /* Full height */
  color: rgb(51, 36, 36);
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixed position */
  left: 0;
  top: 0;
  border: 2px solid #ddd; /* Border around the sidebar */
  border-radius: 5px;
  background-color: #333; /* Background color of the sidebar */
  overflow: hidden; /* Prevent overflow */
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #444; /* Border below top section */
}

.top_section:hover {
  cursor: pointer;
  background-color: rgb(28, 25, 25);
  color: rgb(214, 207, 220);
}

.item {
  display: flex;
  flex-direction: column;
}

.link {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.link:hover {
  background-color: #34495e;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.active {
  background-color: #1abc9c;
}

.bottom_section {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: auto;
  color: white;
  border-top: 1px solid #444; /* Border between items and bottom section */
}

.user_icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Ensure content doesn't overflow */
.sidebar, .container {
  box-sizing: border-box;
}
