/* Sidebar.css */

.container {
  display: flex;
  width: 170px;
  border-radius: 5px;
}

.sidebar {
  width: auto; 
  height: 95vh;
  color: rgb(51, 36, 36);
  display: flex;
  flex-direction: column;
  position: fixed; 
  left: 0;
  top: 0;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 10px;
}

.top_section:hover{
  cursor: pointer;
  border: 2px solid rgb(10, 10, 69);
  background-color: rgb(28, 25, 25);
  color: rgb(214, 207, 220);
  border-radius: 10px;
  padding: 18.5px;
}

.item {
  display: flex;
  flex-direction: column;
}

.link {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.link:hover {
  background-color: #34495e; 
}

.icon {
  font-size: 24px; 
  margin-right: 10px;
}

.active {
  background-color: #1abc9c; 
}

main {
  margin-left: 250px; 
  padding: 20px;
  flex-grow: 1;
}

.bottom_section {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: auto;
  color: white;
}

.user_icon {
  font-size: 24px;
  margin-right: 10px;
}
