.conta {
  height: 100vh;
  width: 200px;
  color: rgb(51, 36, 36);
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #03021a;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #444;
  font-size: 20px;
}

.top_section:hover {
  cursor: pointer;
  background-color: rgb(28, 25, 25);
  color: rgb(214, 207, 220);
}

.item {
  display: flex;
  flex-direction: column;
}

.link {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.link:hover {
  background-color: #34495e;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.active {
  background-color: #1abc9c;
}

.bottom_section {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-top: 1px solid #444;
}

.user_icon {
  font-size: 24px;
  margin-right: 10px;
}

/* Ensure content doesn't overflow */
.sidebar,
.container {
  box-sizing: border-box;
}

/* Medium screens: Hide link_text */
@media (max-width: 1024px) {
  .link_text {
    display: none;
  }
}

/* Small screens: Sidebar in row direction */
@media (max-width: 768px) {
  .conta {
    height: auto;
    width: 100%;
    flex-direction: row;
  }

  .top_section {
    flex: 1;
  }

  .item {
    flex-direction: row;
  }

  .icon {
    margin-right: 0;
    margin-left: 10px;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 8;
  }

  .fox1 {
    display: flex;
    width: 100%;
  }

  .link .icon  {
    flex-direction: row;
    justify-content: center;
    padding: 4px 4px;
    margin: 2px;
    align-items: center;
  }
  .user_icon{
    flex-direction: row;
    justify-content: center;
    padding-top:6px;
    margin: 2px;
    align-items: center;
  }
  

  .fox2 {
    flex: 1;
  }

  .bottom_section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
