/* Movies.css */

.app-container {
  display: flex;
  height: 100vh; /* Full height to fit the screen */
  overflow: hidden;
}

.sidebar {
  width: 200px; /* Adjust the width of the sidebar */
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  overflow-y: auto; /* Scrollable sidebar */
}

.movies-content {
  flex: 1; /* Take the remaining width */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scrollable content */
  padding: 20px;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-item {
  position: relative;
  width: 150px; /* Adjust to reduce the size */
  border: 3px solid rgb(35, 35, 220);
  border-radius: 10px;
  overflow: hidden;
}

.movie-item::before {
  content: "";
  display: block;
  padding-bottom: 150%; /* 2/3 aspect ratio */
}

.movie-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookmark-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.flex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
}

.movie-title, .movie-vote_average {
  margin: 0;
  
}

.bookmarked-section {
  margin-top: 20px;
}

.bookmarked-section h2 {
  text-align: center;
  margin-bottom: 20px;
}
